.event
  %p.photo
    = link_to(image_tag(image_for_drink(event.subject), class: 'drink-photo', width:'50'), event.subject)

  %p.description
    %strong== #{link_to(event.subject.name, event.subject)}
    %br
    %span.meta-data Mixed by #{link_to(event.actor.display_name, event.actor)}

  %p.timeago
    %i.icon-time
    == #{time_ago_in_words(event.created_at)} ago

  .clear
