.event
  %p.photo
    = link_to(image_tag(event.subject.photo.tiny, class: 'drink-photo'), event.subject)

  %p.description
    %strong== #{link_to(event.subject.display_name, event.subject)} Joined
    %br
    Welome!

  %p.timeago
    %i.icon-time
    == #{time_ago_in_words(event.created_at)} ago

  .clear
