%section.box
  %h3 Our Mixologists

  .row
    - @users.each do |user|
      .userbox
        = link_to(image_tag('http://placehold.it/140x140', class: 'drink-photo'), user)
        .name= link_to(user.display_name, user)
        .meta-data
          %i.icon-glass== &nbsp; #{user.drinks.count} Drinks

= will_paginate(@users)
