.box
  %h3 Most Popular
  - @popular_drinks.each do |drink|
    .drink
      = link_to(drink.name, drink)
.box
  %h3 Trending
  - @trending_drinks.each do |drink|
    .drink
      = link_to(drink.name, drink)
.box
  %h3 Recently Mixed
  - @recent_drinks.each do |drink|
    .drink
      .name= link_to(drink.name, drink)

.box
  %h3 Classics
  %p we create an index of what the classics are

.box
  %h3 Star Mixologists
  %p mixologists with with most high rated drinks
