%h1 RAILS RUMBLE!!! O_o zomg

%h3 Most Popular
%p Most "likes" total

%h3 Trending
%p most "likes" in past 2hours

%h3 Recently Mixed
- @recent_drinks.each do |drink|
  .drink
    .name= link_to(drink.name, drink)

%h3 Classics
%p we create an index of what the classics are

%h3 Star Mixologists
%p mixologists with with most high rated drinks
