//= require bootstrap_and_overrides
//= require_self

@import "helpers"
// HTML ELEMENTS
*
  padding: 0
  margin: 0

body
  background-color: $black 
  background-image: url(asset-path('background.jpg', image)) 
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  color: $black
  font-size: 14px
  font-family: Helvetica, sans-serif
  
ul, ol
  margin-left: 20px
a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:focus, &:active
    outline: none

img
  border: 0

section, article, header, footer
  display: block

// GLOBAL
.align-right
  text-align: right
.center
  text-align: center
.fancy
  font-family: 'Medula One', cursive
.white-bar
  background: transparent url(asset-path('white-bar.png', image)) no-repeat scroll center center
.big-water-ring
  background: transparent url(asset-path('water-ring-big.png', image)) no-repeat scroll center center
  width: 243px
  height: 247px
  position: absolute
  z-index: 1
  top: 130px
  left: -55px
// HEADER
header
  nav.mainnav
    width: 810px
    margin: 0 auto
    overflow: hidden
    .leftnav
      overflow: hidden
      float: left
      margin-top: 30px
      width: 310px
      a
        display: inline-block
        margin-left: 45px
        padding-right: 10px 
    .mainicon
      float: left
      width: 160px
      margin: 0 15px
    .rightnav
      float: left
      margin-top: 30px
      margin-left: 10px
      a
        margin-right: 50px
        display: inline-block
    a
      color: #ffffff
      font-size: 18px
      letter-spacing: 0.08em
      &:hover
        color: $yellow

// CONTENT
.logo-search
  margin: 60px auto 35px
  #logo
    display: block
    width: 377px
    margin-left: 400px
  .search
    width: 250px
    margin-top: 70px
    .search-box
      position: relative
      color: $white
      p
        font-size: 18px
        letter-spacing: 0.08em
        text-align: right
      .mustache
        position: absolute
        z-index: 1
        left: -30px
        top: -5px
      .search-field
        background-color: $white
        .control-group
          margin-bottom: 0
        input[type=text]
          border: none
          background-color: transparent
          font-size: 18px
          padding: 5px
          position: relative
          z-index: 10
          margin-left: 20px
          margin-bottom: 0
          width: 217px
          &:focus, &:active
            outline: none
.ui-autocomplete
  @include background-gradient($light_green, $dark_green)
  border-top: 1px solid $black
  border-left: 1px solid $black
  border-right: 1px solid $black
  border-bottom: 2px solid $yellow
  list-style: none
  max-height: 200px
  overflow-y: auto
  overflow-x: hidden
  width: 350px !important
  box-shadow: 0 5px 5px -3px lighten($black, 10%)
  border-radius: 2px
  li
    cursor: pointer
    a
      color: $white
      font-size: 18px
      display: block
      padding: 3px
      &:hover
        background-color: $yellow
        color: $dark_green
.main
  position: relative
  z-index: 0
.body
  position: relative
  z-index: 2
ul.sort-actions
  list-style: none
ul#sort-grid.wares
  list-style: none
  .ware
    float: left
    height: 240px
    width: 205px
    overflow: hidden
    margin-left: 10px
    h3
      font-size: 16px
      font-size: normal
      margin: 2px
      line-height: 18px
      a
.box
  @include background-gradient(darken($white, 5%), $white)
  padding: 10px 5px
  color: $black
  margin-bottom: 25px
  box-shadow: 0 0 5px 0 lighten($black, 15%)
  border-radius: 2px
  h3
    position: relative
    left: -27px
    background-color: $brown
    color: $white
    padding: 6px 0 10px 12px
    margin: 0 0 20px 0
    font-size: 22px
    font-weight: normal
    line-height: 18px
    box-shadow: 2px 2px 5px 0 lighten($black, 80%)
    text-shadow: 0 1px 4px lighten($black, 50%)
    width: 170px
    font-family: 'Medula One', cursive
    letter-spacing: 0.08em
    &:before
      content: ""
      display: block
      background-image: url(asset-path('flag-corner.png', image))
      background-repeat: no-repeat
      width: 22px
      height: 15px
      position: absolute
      left: 0px
      top: 34px

  .row
    margin-left: 5px

.drinkbox
  display: inline-block
  vertical-align: top
  max-width: 145px
  margin: 0 10px 15px

  img
    margin: 0 3px 10px
    box-shadow: 0 0 0 5px white, 0 0 0 6px lighten($brown, 25%)

  .name
    font-family: 'Rye', serif
    font-size: 12px
    margin: 0 0 0 7px
    max-width: 135px

    a
      color: darken($brown, 10%)

      &:hover
        color: darken($brown, 25%)
        text-decoration: none

  .meta-data
    margin-left: 7px
    font-size: 11px
    color: #999

.pagination
  text-align: center

  ul, ul li, ul li a
    background: none !important
    box-shadow: none
    border: 0 none !important

  ul li a
    color: $brown
    text-decoration: none

// FOOTER
footer
  margin-top: 40px
  margin-bottom: 60px
  padding: 40px 0
  font-size: 20px
  color: $white
  letter-spacing: 0.1em
