//= require bootstrap_and_overrides
//= require drinks
//= require feed
//= require_self

@import "helpers"
// HTML ELEMENTS
*
  padding: 0
  margin: 0

body
  background-color: $black 
  background-image: url(asset-path('background.jpg', image)) 
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  color: $black
  font-size: 14px
  font-family: Helvetica, sans-serif

.container
  width: 1024px

.sidebar
  margin-left: 50px
  width: 270px

ul, ol
  margin-left: 20px
a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:focus, &:active
    outline: none

img
  border: 0

section, article, header, footer
  display: block

// GLOBAL
.align-right
  text-align: right
.center
  text-align: center
.fancy
  padding-top: 5px
  font-family: 'Medula One', cursive
.white-bar
  background: transparent url(asset-path('white-bar.png', image)) no-repeat scroll center center
.big-water-ring
  background: transparent url(asset-path('water-ring-big.png', image)) no-repeat scroll center center
  width: 243px
  height: 247px
  position: absolute
  z-index: 1
  top: 130px
  left: -55px
// HEADER
header
  nav.mainnav
    width: 810px
    margin: 0 auto
    overflow: hidden
    .leftnav
      overflow: hidden
      float: left
      margin-top: 30px
      width: 310px
      a
        display: inline-block
        margin-left: 40px
        padding-right: 10px 
    .mainicon
      float: left
      width: 160px
      margin: 0 15px
    .rightnav
      float: left
      margin-top: 30px
      margin-left: 10px
      a
        margin-right: 40px
        display: inline-block
    a
      color: #ffffff
      font-size: 18px
      letter-spacing: 0.08em
      &:hover
        color: $yellow

// CONTENT
.logo-search
  margin: 60px auto 35px
  #logo
    display: block
    width: 377px
    margin-left: 320px
  .search
    width: 250px
    margin-top: 70px
    .search-box
      position: relative
      color: $white
      p
        font-size: 18px
        letter-spacing: 0.08em
        text-align: right
      .mustache
        position: absolute
        z-index: 1
        left: -30px
        top: -5px
      .search-field
        background-color: $white
        .control-group
          margin-bottom: 0
        input[type=text]
          border: none
          background-color: transparent
          font-size: 18px
          padding: 5px
          position: relative
          z-index: 10
          margin-left: 20px
          margin-bottom: 0
          width: 217px
          &:focus, &:active
            outline: none
.ui-autocomplete
  @include background-gradient($light_green, $dark_green)
  border-top: 1px solid $black
  border-left: 1px solid $black
  border-right: 1px solid $black
  border-bottom: 2px solid $yellow
  list-style: none
  max-height: 200px
  overflow-y: auto
  overflow-x: hidden
  width: 350px !important
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.5)
  border-radius: 2px
  li
    cursor: pointer
    a
      color: $white
      font-size: 18px
      display: block
      padding: 3px
      &:hover
        background-color: $yellow
        color: $dark_green
.main
  position: relative
  z-index: 0
.body
  position: relative
  z-index: 2
ul.sort-actions
  list-style: none
ul#sort-grid.wares
  list-style: none

  .ware
    float: left
    height: 240px
    width: 205px
    overflow: hidden
    margin-left: 10px
    text-align: center

    h5
      font-family: 'Medula One', serif
      font-size: 18px
      letter-spacing: 0.08em
      text-align: center !important
      margin-bottom: 3px

      a
        color: #3C4949

        &:hover
          color: darken($brown, 25%)
          text-decoration: none

    .meta-data
      font-size: 11px
      color: #999
      margin: 0
      padding: 0

.box
  @include background-gradient(darken($white, 5%), $white)
  padding: 10px 5px
  color: $black
  margin-bottom: 25px
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25)
  border-radius: 2px
  h3
    position: relative
    left: -27px
    background-color: $brown
    color: $white
    padding: 6px 0 10px 12px
    margin: 0 0 20px 0
    font-size: 22px
    font-weight: normal
    line-height: 18px
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.25)
    text-shadow: 0 1px 4px rgba(0,0,0,.25)
    width: 75%
    font-family: 'Medula One', cursive
    letter-spacing: 0.08em
    &:before
      content: ""
      display: block
      background-image: url(asset-path('flag-corner.png', image))
      background-repeat: no-repeat
      width: 22px
      height: 15px
      position: absolute
      left: 0px
      top: 34px

    a
      color: lighten($brown, 30%)

  .row
    margin-left: 5px
.warebox
  width: 300px
  text-align: center
img.drink-photo, img.ware-photo
  margin: 0 3px 10px
  box-shadow: 0 0 0 5px white, 0 0 0 6px lighten($brown, 25%)

.drinkbox, .userbox
  display: inline-block
  vertical-align: top
  max-width: 145px
  margin: 0 10px 15px

  .name
    font-family: 'Medula One', serif
    font-size: 18px
    letter-spacing: 0.08em
    margin: 0 0 0 7px
    max-width: 135px

    a
      color: $blue

      &:hover
        color: darken($brown, 25%)
        text-decoration: none

  .meta-data
    margin-left: 7px
    font-size: 11px
    color: #999

.pagination
  text-align: center

  ul, ul li, ul li a
    background: none !important
    box-shadow: none
    border: 0 none !important

  ul li a
    color: $brown
    text-decoration: none

.clear
  clear: both

h4
  font-family: 'Medula One', serif
  font-size: 32px
  letter-spacing: 0.03em
  color: $blue
  margin: 0 0 20px

.btn-green
  @include background-gradient($light_green, $dark_green)
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  color: $white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  &:hover
    color: $white

h1.page-header
  font-family: 'Medula One', serif
  font-size: 52px
  letter-spacing: 0.02em
  color: $blue
  margin: 10px 0 10px 20px

.ware
  p
    margin: 0 0 20px 20px

// FOOTER
footer
  margin-top: 40px
  margin-bottom: 60px
  padding: 40px 0
  font-size: 20px
  color: $white
  letter-spacing: 0.1em

  p
    margin-top: 42px
