@import "helpers"

.feed
  margin: 0 10px

  .event
    margin-bottom: 10px
    padding-bottom: 5px
    border-bottom: 1px dotted #ccc

    p.description
      font-size: 11px
      line-height: 16px
      margin: 0

      span.meta-data
        color: #777
        font-size: 10px

    p.timeago
      font-size: 11px
      color: #999

    p.photo
      float: right
      margin: 5px 3px 0 10px
